@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
body{
    margin: 0;
}
h3{
    font-family: "Baloo 2", sans-serif;
    color: rgb(105, 90, 166);
    font-size: 30px;
    margin: 0;
    text-align: center;
}
h4{
    color: rgb(177, 177, 177);
    text-align: center;
    margin: 0;
}
section{
    margin: 10vh 0;
}