/* footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
footer div div{
    border: 2px solid rgb(108, 117, 125);
    color: rgb(108, 117, 125);
    height: 50px;
    width: 50px;
    border-radius: 50%;
} */