@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
header{
    height: 572px;
    background-size: cover;
    background-position: 50% 40%;
    background-image: linear-gradient(rgba(128, 0, 128, 0.116),white),url("../../assets/img/header.jpg") ;
}
header div{
    height: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 150px;
    left: 31.9%;
}
h1{
    font-size: 92px;
    font-weight: 800;
    font-family: "Baloo 2", sans-serif;
    line-height: 108px;
    margin: 36px 0 0 0;
    color: rgb(66, 70, 78);
    letter-spacing: 1%;
}
header h2{
    font-family: "Baloo 2", sans-serif;
    font-size: 72px;
    line-height: 30px;
    margin: 0;
    color: rgb(88, 89, 96);
}
header p{
    font-family: "Baloo 2", sans-serif;
    font-size: 32px;
    letter-spacing: 6.5px;
    color: rgb(70, 70, 72);
    font-weight: 12;
    margin: 0;
    line-height: 34px;
    margin-bottom: 44px;
}
header button{
    background-color: rgb(105, 90, 166);
    border: none;
    border-radius: 30px;
    height: 50px;
    width: 155px;
    color: white;
    font-size: 18px;
}