@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
/* section 1 About Me */
#profil{
    position: relative;
    margin-left: 11.5%;
    top: 90px;
    display: flex;
    align-items: center;
    gap:1.5%;
    margin-bottom: 200px;
}
#profil_image{
    width: 440px;
    height: 440px;
}
#profil_image img{
    height: 100%;
    width: 100%;
}
#quiSuisJe{
    width: 40%;
}
#quiSuisJe p{
    font-size: 18px;
}
#quiSuisJe h3{
    font-size: 45px;
    line-height: 30px;
    margin: 30px 0 0 0;
    margin-bottom: 30px;
}
#quiSuisJe h4{
    font-size: 18px;
    line-height: 20px;
    margin: 0;
}
#quiSuisJe a{
    text-decoration: none;
    background-color: white;
    color: rgb(105, 90, 166);
    border: 1px solid rgb(105, 90, 166);
    border-radius: 20px;
    padding: 5px;
}
#quiSuisJe p{
    margin-bottom: 8%;
}
/* section 2 Service */
#service{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contenuService{
    display: flex;
    flex-direction: row;
    gap: 33px;
}
#contenuService>div{
    width: 20vw;
    height: 20vw;
    border: 1px rgb(222, 226, 230) solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contenuService img{
    height: 50px;
    width: 50px;
}
#titreService{
    text-align: center;
}
#titreService h3{
    font-size: 50px;
    margin: 0;
    margin-bottom: 50px;
    line-height: 50px;
}
#titreService h4{
    font-size: 20px;
    margin: 0;
}

/* section 3 folio*/

#section_folio{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
}
#contenu_folio{
    display: flex;
    flex-direction: row;
    gap: 33px;
}
.folio{
    height: 20vw;
    width: 20vw;
}
.folio img{
    height: 100%;
    width: 100%;
}
/* Section prix */
#contenu_prix{
    display: flex;   
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 100px;
}
#titre_prix{
    text-align: center;
}
.carte{
    height: 570px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 0;
    border: 1px rgb(238, 240, 242) solid;
}
.carte h3{
    font-size: 30px;
    margin: 0;
}
.carte ul{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 30px;
}
#section_prix{
    height: 1000px;
}
.carte div:first-of-type{
    height: 100px;
    width: auto;
    padding-top: 10px;
}
.carte img{
    height: 100%;
    width: 100%;
}
.red{
    color: rgb(246, 155, 185);
    font-family: sans-serif;
    font-weight: 100;
}
.carte button{
    background-color: rgb(105, 90, 166);
    border: none;
    height: 42px;
    min-width: 110px;
    border-radius: 2px;
}
#footer_prix{
    background-color: rgb(105, 90, 166);
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    min-height:  150px;
    line-height: 10px;
    font-size: 20px;
    font-family: "Baloo 2", sans-serif;
}
#footer_prix div:first-child{
    position: absolute;
    left:  20%;
}
#footer_prix div:nth-child(2){
    position: absolute;
    right: 28%;
}
#footer_prix button{
    font-family: "Baloo 2", sans-serif;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 1000;
}
#footer_prix div:first-child p:last-child{
    color: rgb(237, 237, 243);
    font-weight: 400;
}
#footer_prix div:first-child p:first-child{
    font-size: 30px;
    font-weight: 700;
}
@media (max-width:540px){
    #contenu_prix{
        flex-wrap: wrap;
    }
    .carte{
        width: 200px;
    }
}
/* Section test monial */
#section_monial{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titre_monial{
    text-align: center;
}
#contenu_monial{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7%;
}
.carte_monial{
    position: relative;
    height: 175px;
    width:40%;
    border: 1px rgb(226, 230, 233) solid;
    /* rgb(226, 230, 233) */
}
.carte_monial img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top: 40%;
}
.contenu_carte{
    padding:10px 20px;
    padding-left: 50px;
}
#section_monial span{
    color: rgb(105, 90, 166);
    font-weight: bolder;
    font-family: "Baloo 2", sans-serif;
}
@media (max-width:540px){
    #contenu_monial{
        flex-wrap: wrap;
        background-color: red;
    }
}
/*section blog */
#section_blog{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titre_blog{
    text-align: center;
}
#contenu_blog{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
#contenu_blog h3{
    text-align: left;
    font-size: 20px;
}
.carte_blog{
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    gap: 25px;
}
.carte_blog img{
    width: 24vw;
    height: 24vw;
}
/* section contact Me */
#section_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    margin-bottom: 50px;
    margin-top: 50px;
}
#titre_contact h3,#titre_contact h4{
    line-height: 0.5px;
    padding: 10px;
    margin: 5px;
}
#section_contact div{
    flex-direction: column;
    display: flex;
    align-items: center;
}
#section_contact form{
    height: 300px;
    width: 500px;
    box-sizing: border-box;
    resize: none;
}
form textarea{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 2px solid rgb(229, 232, 235);
    resize: none;
}
.coeur{
    color: rgb(244, 132, 169);
}
.bull{
    color: black;
}
.carte_blog div:last-child p:last-child{
    color: rgb(113, 99, 171);
}
