/* section 1 About Me */
#profil{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2%;
}
#profil_image{
    width: 450px;
    height: 450px;
}
#profil_image img{
    height: 100%;
    width: 100%;
}
#quiSuisJe{
    width: 40%;
}
#quiSuisJe a{
    text-decoration: none;
    background-color: white;
    color: rgb(105, 90, 166);
    border: 1px solid rgb(105, 90, 166);
    border-radius: 20px;
    padding: 5px;
}
#quiSuisJe p{
    margin-bottom: 8%;
}
/* section 2 Service */
#service{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contenuService{
    display: flex;
    flex-direction: row;
    gap: 33px;
}
#contenuService>div{
    width: 278px;
    height: 251px;
    border: 1px rgb(222, 226, 230) solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contenuService img{
    height: 50px;
    width: 50px;
}

/* section 3 folio*/

#section_folio{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
}
#contenu_folio{
    display: flex;
    flex-direction: row;
    gap: 33px;
}
.folio{
    height: 384px;
    width: 385px;
}
.folio img{
    height: 100%;
    width: 100%;
}
