nav{
    display: flex;
    z-index: 10;
    padding: 10px;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    top: 0;
    margin-left: 10%;
    margin-right: 10%;
}
nav a{
    text-decoration: none;
}
nav div:nth-of-type(2) a{
    color: rgb(157, 163, 168);
}
nav div:nth-of-type(1) a{
    color: rgb(105, 90, 166);
}
nav div:nth-of-type(2){
    display: flex;
    gap: 10px;
}
@media (max-width:620px) {
    nav{
        margin: 0;
    }
}
@media (max-width:540px){
    div:nth-of-type(2){
        flex-wrap: wrap;
    }
}